
.bg-404{
    font-weight: 900;
    font-size: 288px;
    line-height: 351px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: $monoMiddle;
    z-index: -1;
    margin-left: 30%;
    @media screen and (max-width: 720px) {
        margin-left: 0;
    }
    @media screen and (max-width: 520px) {
        font-size: 150px;
        line-height: 200px;
        text-align: center;
    }
}
.text-404{
    z-index: 99;
    margin-top: -15%;
    margin-left: 41%;
    max-width: 670px;
    width: 100%;
    text-align: left;
    @media screen and (max-width: 1176px) {
        margin-left: 20%;
    }
    @media screen and (max-width: 852px) {
        margin-left: 0;
    }
    @media screen and (max-width: 710px) {
        text-align: center;
    }
    & span{
        font-family: 'Montserrat-Bold', sans-serif;
        color: $secNormal;
        @include h2;
    }
    & p{
        margin-top: 30px;
        font-family: 'Montserrat-Regular', sans-serif;
        color: $monoDarkest;
        font-size: 14px;
        line-height: 18px;
    }
    & a{
        color: $secNormal;
    }
}