.affiliate__vertical{
    width: 270px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 4px rgba(41, 13, 98, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // border: 3px solid #fff;
    border-top: none;
    &:hover{
        border: 3px solid $secNormal;
        border-top: none;
        cursor: pointer;
    }
    & .slick-slide{
        height: 440px;
        width: 270px;
        & .slick-current .slick-active{
            height: 440px;
            width: 270px;
        }
    }
    &-img img{
        border-radius: 8px;
    }
    &-rating{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
    &-mark{
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
        color: $secNormal;
    }
    &-title{
        margin-top: 20px;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 900;
        @include h4;
        color: $monoDarkest;
    }
    &-subtitle{
        color: $secNormal;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 900;
        @include small-text;
    }
    &-price{
        color: $secNormal;
        margin-top: 18px;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 900;
        @include h4;
    }
    &-descr{
        color: $monoDarkest;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 900;
        @include small-text;
        margin-bottom: 18px;
        height: 42px;
        & span{
            color: $secNormal;
        }
    }
    &-read{
        margin-top: 40px;
        color: $secNormal;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 900;
        @include small-text;
        padding-bottom: 5px;
        &:hover{
            color: $secHover;
        }
    }
}
.affiliate__vertical.slick-slide.slick-active{
    height: 440px !important;
    width: 270px !important;
}