.author__content{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1020px) {
        flex-direction: column;
    }
    &-img img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    &-about{
        margin-left: 100px;
        max-width: 668px;
        width: 100%;
        @media screen and (max-width: 1020px) {
            text-align: center;
            margin-top: 20px;
            margin-left: 0;
        }
    }
    &-name{
        @include h2;
        color: $monoDarkest;
        font-family: 'Montserrat-Bold', sans-serif;
    }
    &-descr{
        margin-top: 30px;
        font-family: 'Montserrat-Regular', sans-serif;
        color: $monoDarkest;
        @include text-accent;
    }
}
.author__blog{
    margin-top: 30px;
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h2{
            margin-bottom: 0;
        }
    }
    &-container {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        & .blog {
            margin-top: 0;
        }
        & .small-blog{
            width: 270px;
            margin: 10px;
        }
    }
}