.grid-container-blog {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 252px 252px;
    gap: 30px 30px;
    grid-template-areas:
      "main-blog main-blog small-blog small-blog"
      "main-blog main-blog small-blog small-blog";
}
@media screen and (max-width: 1220px){
.grid-container-blog {
    display: grid;
    grid-template-columns: 270px 270px;
    grid-template-rows: 252px 252px;
    gap: 30px 30px;
    grid-template-areas:
        "main-blog main-blog"
        "main-blog main-blog"
        "small-blog small-blog"
        "small-blog small-blog";
    }
}
@media screen and (max-width: 610px){
    .grid-container-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  .main-blog { grid-area: main-blog; }
//   .small-blog { grid-area: small-blog; }

  .main{
    &-blog{
        width: 570px;
        height: 534px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(41, 13, 98, 0.15);
        border-radius: 8px;
        position: relative;
        @media screen and (max-width: 610px){
            width: 270px;
        }
    }
    &-blog-img{
        width: 100%;
        height: 236px;
        & img{
            width: 100%;
            height: 236px;
        }
    }
    &-blog-wrapper{
        padding: 11px 20px 20px 16px;
    }
    &-blog-info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $monoDark;
        @include extra-small-text;
        font-family: 'Montserrat-Bold', sans-serif;
    }
    &-blog-date{
        text-transform: uppercase;
    }
    &-blog-dot{
        margin: 0 5px;
    }
    &-blog-author a{
        color: $secNormal;
    }
    &-blog-title{
        font-family: 'Montserrat-Bold', sans-serif;
        @include h5;
        color: $monoDarkest;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
    }
    &-blog-descr{
        font-family: 'Montserrat-Regular', sans-serif;
        @include body-text;
        color: $monoDarkest;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        line-clamp: 6;
        box-orient: vertical;
        & p{
            margin: 15px 0;
        }
    }
    &-blog-read{
        position: absolute;
        right: 21px;
        bottom: 20px;
    }
  } 

  .small{
    &-blog{
        width: 270px;
        height: 252px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(41, 13, 98, 0.15);
        border-radius: 8px;
        position: relative;
    }
    &-blog-img{
        width: 270px;
        height: 124px;
        & img{
            width: 100%;
            height: 124px;
        }
    }
    &-blog-wrapper{
        padding: 11px 16px 16px;
    }
    &-blog-date{
        text-transform: uppercase;
        color: $monoDark;
        @include extra-small-text;
        font-family: 'Montserrat-Bold', sans-serif;
    }
    &-blog-title{
        font-family: 'Montserrat-Bold', sans-serif;
        @include h5;
        color: $monoDarkest;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
    }
    &-blog-read{
        position: absolute;
        right: 21px;
        bottom: 20px;
    }
  } 
  
  .blog {
      margin-top: 100px;
    & h2{
        text-align: left;
    }
    &-btn{
        text-align: center;
        margin-top: 40px;
    }
    @media screen and (max-width: 650px) {
        a.btn-primary a, span.btn-primary{
            padding: 11px 45px 12px 45px;
        }  
    }
    @media screen and (max-width: 350px) {
        a.btn-primary{
            padding: 11px 40px 12px 40px;
        }  
    }
  }