.blog-wrapper{
    display: flex;
    flex-wrap: wrap;
	margin: 30px 0;
	@media (max-width: 380px) {
		justify-content: center;
    }

    & .small-blog{
        max-width: 270px;
        margin: 0 11px 15px 11px;
        position: relative;
        transition: .15s;
        box-shadow: 0 8px 16px rgba(41,13,98,.15);
        border-radius: 8px;
    }
}
.pagination-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1{
        margin-bottom: 0;
        @media (max-width: 600px) {
            margin-bottom: 30px;
        }
    }
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: start;
    }
}
.pagination {
    padding-right: 24px;
	@media (max-width: 600px) {
		padding-left: 24px;
	}
	&.right{
		text-align: right;
		@media (max-width: 600px) {
			text-align: left;
			padding-left: 24px;
		}
	}
}