.custom_breadcrumbs {
    margin-top: 30px;
    & span{
        @include body-text;
        color: $monoDarkest;
        font-family: 'Montserrat-Bold', sans-serif;
        &:hover{
            color: $secNormal;
            cursor: pointer;
        }
        &.kb_title{
            color: $monoDarkest;
        }
    }
}

.game-items-cat .games-block {
    margin-top: 0;
    & h2{
    display: none;
    }
    & .btn-primary{
        display: none;
    }
}