.scroll-content{
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    &-img{
        margin-right: 30px;
		padding-top: 20px;
		@media screen and (max-width: 800px){
			display: none;
		}
    }
}

.main-text {
	max-width: 970px;
	margin: 30px auto;
    padding: 0 30px 30px 0;
	a {
		color: $mainNormal;
		&:visited {
			color: $mainActive;
		}
	}
    h2, h3{
        text-align: left;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 30px;
    }
	&_scroll {
		overflow-y: scroll;
		max-height: 539px;
		@media screen and (max-width: 600px){
			max-height: 440px;
		}

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;

			&-thumb {
				background: $monoMiddle;
				border-radius: 99px;

				&:hover {
					background-color: $monoDark;
				}
			}

			&-track {
				border-radius: 99px;
				background-color: $monoDark;
			}
		}
    }
}