.seo-text{
    margin-top: 10%;
    &__wrapper{
        display: flex;
        justify-content: flex-start;
        @media screen and (max-width: 1127px){
            flex-direction: column;
            margin: 0 auto;
        }
        }
        &__left{
            max-width: 570px;
            @media screen and (max-width: 1127px){
                max-width: 1000px;
            }
        }
        &__h2{
            @include h2;
            color: $monoDarkest;
            font-family: 'Montserrat-Bold', sans-serif;
            font-weight: 900;
        }
        &__text{
            margin-top: 30px;
            color: $monoDarkest;
            font-family: 'Montserrat-Regular', sans-serif;
            font-weight: 500;
            & p{
                padding: 15px 0;
            }
        }
        &__right{
            background-image: url(images/seo-text-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            & img{
                max-width: 600px;
                width: 100%;
                height: auto;
            }
            @media screen and (max-width: 1127px){
                margin-top: 30px;
                text-align: center;
            }
        }
}
.seo-text.reverse{
    margin-top: 5%;
    position: relative;
    & .seo-text__left{
        @media screen and (max-width: 1127px){
            margin-top: 5%;
        }
    }
    & .seo-text__right{
        background-image: none;
        position: relative;
        order: -1;
        &::before{
            content: "";
            display: block;
            position: absolute;
            background-image: url(images/bg_blog_2.png);
            background-repeat: no-repeat;
            z-index: -1;
            background-position: 187% 45%;
            width: 833px;
            height: 510px;
            right: 0;
            top: 0;
            @media screen and (max-width: 550px){
                background-position: 187% 100%;
            }
        }
    }
    & .seo-text__wrapper{
        justify-content: space-between; 
    }
    & .seo-text__line{
        order: 1;
    }
}
.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 300px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}
a.content_toggle {
    margin-top: 5%;
    float: right;
    padding: 11px 55px 10px 55px;
    border-radius: 24px;
    border: 3px solid #796AE1;
    font-family: 'Montserrat-Bold', sans-serif;
    @include extra-small-text;
    color: $secNormal;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background: #8CA5FF;
        color: #FFFFFF;
        border: 3px solid #8CA5FF;
    }
}